* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.main {
    overflow: hidden;
}

.main #header-container {
    background-color: white;
    width: 100vw;
    margin-top: 50px;
}

.main #header-container a {
    color: #050505;
    padding: 1em;
    margin: .5em;
    font-weight: 500;
    border: 1.5px groove#000000;
    border-radius: 5px;
}

.main #header-container a:hover {
    border-radius: 10px 5px;
    font-weight: bold;
    border: 1px solid #F15A23;
    background: black;
    color: #F15A23;
    transition: 1s ease-in-out;
}

.main #header-container #first {
    border: none;
}

.main #header-container .top-cont {
    width: 100%;
    height: 90px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    position: fixed;
    top: 0px;
    left: 0;
    background-color: white;
}

.main #header-container .top-cont .brand {
    width: 15%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.main #header-container .top-cont .menu {
    width: 80%;
    background-color: #F15A23;
    -webkit-clip-path: polygon(1% 0, 100% 0%, 100% 100%, 5% 100%);
    clip-path: polygon(1% 0, 100% 0%, 100% 100%, 5% 100%);
}

.main #header-container .top-cont::before {
    content: "";
    position: absolute;
    top: 0;
    left: 200px;
    width: 10%;
    height: 50%;
    -webkit-clip-path: polygon(1% 0, 100% 0%, 100% 100%, 20% 100%);
    clip-path: polygon(1% 0, 100% 0%, 100% 100%, 20% 100%);
    background-color: rgba(0, 0, 7, 0.89);
}

.main section {
    width: 51%;
    border: 1px solid rgb(0, 0, 0);
    color: rgb(255, 106, 31);
    text-align: justify;
    position: relative;
    background: #000000;
    /* background-image: linear-gradient(to bottom right, #000000, rgba(223, 125, 45, 0.929)); */
    background-attachment: fixed;
}

.main section::before {
    content: "";
    position: absolute;
    top: 15px;
    left: 180%;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    width: 100%;
    background-color: #F15A23;
    height: 100%;
}

.main section::after {
    content: "";
    position: absolute;
    top: 1px;
    left: 150%;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    width: 250px;
    border-radius: 50%;
    background-color: black;
    height: 250px;
}

.main .footer {
    background: #000000;
    margin-top: 105px;
}

.main .footer #footer span {
    font-size: 1.2em;
}

.main .footer h2 {
    color: #fff;
    font-size: 40px;
    line-height: 40px;
    text-align: left;
}

.main .footer span {
    color: #fff;
    font-size: 17px;
    line-height: 28px;
    padding-bottom: 30px;
    display: block;
}

.main .footer .contact h2 {
    border-bottom: 1.5px solid grey;
    padding: 10px;
}

.main .footer .contact .local li {
    color: blanchedalmond;
    font-size: 1.2em;
    font-weight: 400;
    padding: 5px;
}

.main .footer .contact .local li a {
    color: blanchedalmond;
}

.main .footer .contact .social_link {
    padding-bottom: 5px;
    padding-top: 7px;
    display: block;
}

.main .footer .contact .social_link li {
    display: inline-block;
    padding-right: 10px;
}

.main .footer .contact .social_link li i {
    font-size: 1.5em;
}

.main .footer .address {
    padding-left: 5px;
}

.main .footer .address li {
    list-style: none;
}

.main .footer .address li a {
    color: blanchedalmond;
    font-size: 1.2em;
    font-weight: 400;
}

.main .footer .news {
    padding-bottom: 50px;
    margin-top: -35px;
}

.main .footer .news .newslatter {
    padding: 18px 30px;
    -webkit-box-shadow: inherit;
    box-shadow: inherit;
    border: inherit;
    width: 70%;
    font-size: 19px;
    -webkit-box-shadow: #b0b0b0 0px -2px 9px 0px;
    box-shadow: #b0b0b0 0px -2px 9px 0px;
    border-radius: 30px 0px 0px 30px;
    text-transform: uppercase;
}

.main .footer .submit {
    padding: 18px 45px;
    background: #F15A23;
    color: black;
    margin-left: -5px;
    font-weight: 500;
    font-size: 19px;
    max-width: 270px;
    width: 100%;
    border-radius: 0px 30px 30px 0px;
    -webkit-box-shadow: #b0b0b0 0px -2px 9px 0px;
    box-shadow: #b0b0b0 0px -2px 9px 0px;
    text-transform: uppercase;
    -webkit-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}

.main .footer .submit:hover {
    background: #050505;
    color: #fff;
    -webkit-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}

.main .footer .copyright {
    padding: 20px 0px;
    margin-top: 35px;
    width: 100%;
    background-color: #01010f;
}

.main .footer .copyright p {
    color: #fff;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
}

.main .footer .copyright a {
    color: #fff;
}

.main .footer .copyright a:hover {
    color: #f4b328;
}


/*# sourceMappingURL=custom.css.map */